img{border: 3;
border-color: Green;
border-radius: 30%;
}
		.send{background-image:url('https://1.bp.blogspot.com/-4_PBO9CftCQ/VwptXUbhvVI/AAAAAAAAADM/TmkAl5ss80s6twAZEX2CdJslRog-zQCqw/s1600/panda-bear-green-peace.jpg');}
		  

		body{background:#84CD8E ; } 

	div.a{font-size: 150%;
		line-height: 0.7}

h1{color:purple;}
p{font-family: serif;
		font-size: 150%;
		color:white;
		line-height: 1.5em;}
