img{border: 3;
border-color: white;
border-radius: 30%;
}
		body{background-image:url('https://1.bp.blogspot.com/-4_PBO9CftCQ/VwptXUbhvVI/AAAAAAAAADM/TmkAl5ss80s6twAZEX2CdJslRog-zQCqw/s1600/panda-bear-green-peace.jpg');
		background-size: cover;
		
		background-attachment: center; } 

	div.a{font-size: 150%;
		line-height: 0.7}

h1{style="color:purple"}
